<mat-sidenav-container autosize>
  <mat-sidenav
    #sidenav
    fixedInViewport="true"
    mode="side"
    opened="{{ isExpanded }}">
    <app-side-nav [isExpanded]="isExpanded" [selectedAnimals]="getSelectedAnimals() | async" (toggleMenu)="toggleMenu()"
    ></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content [style.margin-left.px]="!isExpanded ? 60 : 250">
    <mat-toolbar>
      <mat-toolbar-row><span><h1>Animal Shelter Adoption Site</h1></span></mat-toolbar-row>
    </mat-toolbar>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>