<mat-card class="mat-elevation-z0 animal-card">
    <mat-card-header>
      <mat-card-title>{{animal!.nickName}}</mat-card-title>
      <mat-card-subtitle>Age: {{animal!.age}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="animal!.imageUrl" alt="{{animal!.nickName}}">
    <mat-card-content class="animal-card-story">
      <p>
        {{animal!.story}}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="animal?.checked || (selectedCount$ | async)! <= 2">
      <mat-button-toggle [checked]="animal!.checked" (change)="checkAnimal()">LIKE</mat-button-toggle>
    </mat-card-actions>
  </mat-card>